:root {
  --background-primary: #344678;
  --text-on-color: #fff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Inter';font-size: 22px;
    color: var(--text-on-color);
}

header {
    overflow: hidden;
    padding: 15px 110px;
    background-color: var(--background-primary);
}

header h1 {
    display: inline;
    font-size: 32px;
    font-weight: bold;
}

header a {
    float: left;
    font-weight: 100;
    font-size: 24px;
    text-align: center;
}

.header-right {
    display: flex;
    float: right;
    gap: 20px;
    vertical-align: center;
}