:root {
  --background-primary: #344678;
  --text-on-color: #fff;
  --border-radius: 15px;
}

* {
    box-sizing: border-box;
    
}

body {
    margin: 0px;
    font-family: 'Inter';font-size: 22px;
}

.header-offset {
    height: 130px;
}

/* h1, p {
    margin: 0px;
} */

.dropshadow {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.section-offset {
    height: 150px;
}



/* Header */
header {
    position:fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 15px 110px;
    background-color: var(--background-primary);
}

.header-title {
    margin: 0px;
    display: inline;
    font-size: 32px;
    font-weight: bold;
    color: var(--text-on-color);
    text-decoration: none;
}

header a {
    float: left;
    font-weight: 100;
    font-size: 24px;
    text-align: center;
    color: var(--text-on-color);
    text-decoration: none;
}

.header-right {
    display: flex;
    float: right;
    gap: 25px;
    vertical-align: center;
}

/* Background Image */
.homepage-bg {
    display: flex;
    background-image: url("images/homepage-bg-uncropped.png");
    color: var(--text-on-color);

    z-index: -9;
    background-repeat: no-repeat;
    background-size: 110% 100%;
    height: 1000px;
    object-fit: cover;
    object-position: 50px -1000px;
}

.homepage-bg p {
    text-align: end;
}

.container-left{
    float: left;
    flex: 1;
}

.homepage-right {
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 80%;
    padding: 100px;
}


.container-right{
    float: right;
    display: flex;
    width: 50%;
}

.profile-picture {
    height: 125px;
    border-radius: 10px;
}

.homepage-berserk p{
    margin-top: 0px;
}

.homepage-berserk h1{
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

/* About Me */
section {
    padding: 0px 100px;
    width: 100%;
}

.section-header {
    font-size: 48px;
    font-weight: bolder;
    margin: 20px 0px;
}

.aboutme {
    display: flex;
    flex-wrap: wrap;
}

.aboutme-text {
    flex-direction: column;
    justify-content: flex;
    /* align-items: end; */
    padding-right: 60px;
}

.aboutme-text h1 {
    margin-top: 0px;
}

/* Interests */

.interests {
    background-color: var(--background-primary);
    padding: 30px 100px 60px;
}

.interests h1, .interests p{
    color: white    ;
}

.triple-div {
    display: flex;
}

.interests-box {
    background-color: red;
    flex-basis: 100px;
    height: 570px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex: 1;
    border-radius: var(--border-radius);
    background-color: #223362;
}

.interests-box-image {
    background-color: red;
    flex: 5;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.interests-box-content {
    flex: 4;
    margin: 30px;
    font-size: 19px;
    color: white;
}

.interests-box-content h1{
    font-size: 32px;
    margin: 0px 0px 15px;
    color: white;
}

/* Obsidian Plugins */
.obsidian-plugins {
    /* padding-top: 600px; */
    background-color: #0F0F0F;
    padding: 100px 60px;
    color: white;
}

.obsidian-logo {
    margin: auto;
}

.obsidian-plugins h1 {
    text-align: center;
}

.plugin-section a {
    display: block;
    margin: auto;
}

.portfolio-heading-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0px;

}

.portfolio-heading-container h1 {
    font-size: 48px;
    font-weight: bolder;
    margin-block-end: 0px;
}

.plugin-section {
    display: flex;
    width: 100%;
    height: 400px;
}

.plugin-section img {
    border-radius: var(--border-radius);
}

/* Contacts */

.contact-me {
    display: flex;
    justify-content: flex-end;
    gap: 80px;
}

.contact-me .container-left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contacts-link-item {
    width: 20%;
    display: flex;
    justify-content: space-around;

    height: 60px;
    gap: 10px;
}

.contacts-link-item img{
    display: inline;
}

.contacts-link-item p{
    display: inline;
    margin: 0px;
    margin: auto;
    text-align: left;

}

/* Programming Languages */
.programming-languages {
    text-align: center;
    background-color: var(--background-primary);
    padding: 100px 60px;
    color: white;
}

.programming-languages-row {
    display: flex;
    gap: 20px;
}

.programming-languages-item {
    background-color: white;
    color: black;
    padding: 25px;
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    flex: 1;
}

.programming-languages-item img{
    height: 90px;
}

.programming-languages a {
    text-decoration: none;
    color: black;
}

.github-commits {
    justify-content: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 25px;
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}