:root {
  --background-primary: #344678;
  --text-on-color: #fff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Inter';font-size: 22px;
}

.header-offset {
    height: 130px;
}

/* h1, p {
    margin: 0px;
} */

.dropshadow {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.section-offset {
    height: 700px;
}

/* Header */
header {
    position:fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 15px 110px;
    background-color: var(--background-primary);
}

.header-title {
    margin: 0px;
    display: inline;
    font-size: 32px;
    font-weight: bold;
    color: var(--text-on-color);
    text-decoration: none;
}

header a {
    float: left;
    font-weight: 100;
    font-size: 24px;
    text-align: center;
    color: var(--text-on-color);
    text-decoration: none;
}

.header-right {
    display: flex;
    float: right;
    gap: 25px;
    vertical-align: center;
}

/* Background Image */
.homepage-bg {
    display: flex;
    background-image: url("images/homepage-bg-uncropped.jpg");
    color: var(--text-on-color);

    z-index: -9;
    background-repeat: no-repeat;
    background-size: 130% 120%;
    height: 1000px;
    object-fit: cover;
    object-position: 50px -1000px;
}

.container-left{
    float: left;
    width: 50%;
}

.homepage-right {
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 80%;
    padding: 100px;
}


.container-right{
    float: right;
    display: flex;
    width: 50%;
}

.container-right p {
    /* text-align: end; */
}

.profile-picture {
    height: 125px;
    border-radius: 10px;
}

/* About Me */
section {
    padding: 0px 100px;
}

.aboutme h1 {
    font-size: 48px;
    font-weight: bolder;
}

.aboutme-text {
    flex-direction: column;
    justify-content: flex;
    /* align-items: end; */
    height: 80%;
    padding-right: 60px;
}

.aboutme-text h1 {
    margin-top: 0px;
}